@import 'tailwindcss';

@layer utilities {
	.heading-font {
		font-family: 'Bitcount Prop Single', system-ui;
		font-optical-sizing: auto;
		font-weight: 350;
		font-style: normal;
		font-variation-settings:
			'slnt' 0,
			'CRSV' 0.5,
			'ELSH' 0,
			'ELXP' 0;
	}

	.cursor-lighting {
		cursor:
			url('https://fav.farm/⚡') 15 0,
			pointer;
	}

	.cursor-house {
		cursor:
			url('https://fav.farm/🏠') 15 0,
			pointer;
	}

	.cursor-book {
		cursor:
			url('https://fav.farm/📚') 15 0,
			pointer;
	}

	.cursor-lens {
		cursor:
			url('https://fav.farm/🔍') 15 0,
			pointer;
	}

	.cursor-phone {
		cursor:
			url('https://fav.farm/📱') 15 0,
			pointer;
	}

	h1 {
		@apply text-4xl font-bold mt-4;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	h2 {
		@apply text-3xl font-semibold mt-4;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	h3 {
		@apply text-2xl font-medium mt-4;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	p {
		@apply text-base;
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

    a {
        @apply text-emerald-400 hover:text-emerald-700;
    }

    ul {
        @apply list-disc pl-5;
        font-family: 'Roboto', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: 'wdth' 100;
    }

    li {
        @apply mt-2;
    }

    code {
        @apply bg-gray-200 dark:bg-zinc-800 px-1 py-0.5 rounded flex border dark:border-gray-200 border-gray-700;
        font-family: 'Roboto', monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: 'wdth' 100;
    }

    blockquote, q {
        @apply border-l-4 border-emerald-400 pl-4 italic text-gray-700 dark:text-gray-200 my-4;
        font-family: 'Roboto', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
        font-variation-settings: 'wdth' 100;
    }
}
