@import 'tailwindcss';
@import '@fontsource/jetbrains-mono';

@layer utilities {
	.heading-font {
		font-family: 'Bitcount Prop Single', system-ui;
		font-optical-sizing: auto;
		font-weight: 350;
		font-style: normal;
		font-variation-settings:
			'slnt' 0,
			'CRSV' 0.5,
			'ELSH' 0,
			'ELXP' 0;
	}

	.cursor-bun {
		cursor:
			url('https://skillicons.dev/icons?i=bun') 15 0,
			pointer;
	}

	.cursor-svelte {
		cursor:
			url('https://skillicons.dev/icons?i=svelte') 15 0,
			pointer;
	}

	.cursor-tailwind {
		cursor:
			url('https://skillicons.dev/icons?i=tailwind') 15 0,
			pointer;
	}

	html,
	body {
		@apply container mx-auto min-h-screen min-w-screen bg-gray-300 text-black dark:bg-zinc-900 dark:text-white;
	}

	h1 {
		@apply mt-4 text-4xl font-bold;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 800;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	h2 {
		@apply mt-4 text-3xl font-semibold;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	h3 {
		@apply mt-4 text-2xl font-medium;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	p {
		@apply text-lg;
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	a {
		@apply text-emerald-400 hover:text-emerald-700;
	}

	ul {
		@apply list-disc pl-5;
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	ol {
		@apply list-decimal pl-5;
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	li {
		@apply mb-2;
	}

	pre code {
		@apply my-1 flex rounded border border-gray-700 bg-gray-200 px-1 py-0.5 dark:border-gray-200 dark:bg-zinc-800;
		font-family: 'JetBrains Mono', monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;

        display: block;
        white-space: pre;
        overflow-x: auto;
        padding: 1em;
	}

	blockquote,
	q {
		@apply my-4 border-l-4 border-emerald-400 pl-4 text-gray-700 italic dark:text-gray-200;
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: italic;
		font-variation-settings: 'wdth' 100;
	}
}
