@import 'tailwindcss';
@import '@fontsource/jetbrains-mono';

@layer utilities {
	.heading-font {
		font-family: 'Bitcount Prop Single', system-ui;
		font-optical-sizing: auto;
		font-weight: 350;
		font-style: normal;
		font-variation-settings:
			'slnt' 0,
			'CRSV' 0.5,
			'ELSH' 0,
			'ELXP' 0;
	}

	.cursor-bun {
		cursor:
			url('https://skillicons.dev/icons?i=bun') 15 0,
			pointer;
	}

	.cursor-svelte {
		cursor:
			url('https://skillicons.dev/icons?i=svelte') 15 0,
			pointer;
	}

	.cursor-tailwind {
		cursor:
			url('https://skillicons.dev/icons?i=tailwind') 15 0,
			pointer;
	}

	html,
	body {
		@apply container mx-auto min-h-screen min-w-screen bg-gray-100 text-lg leading-relaxed text-black antialiased dark:bg-zinc-900 dark:text-white;
	}

	h1,
	h2,
	h3 {
		@apply mb-5;
		font-family: 'Noto Sans', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
		letter-spacing: -0.02em;
	}

	p,
	a,
	ul,
	ol,
	li,
	blockquote,
	q {
		font-family: 'Roboto', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	h1 {
		@apply mt-5 text-5xl font-bold;
		font-weight: 800;
		line-height: 1.15;
	}

	h2 {
		@apply mt-4 text-3xl font-semibold;
		font-weight: 700;
		line-height: 1.2;
	}

	h3 {
		@apply mt-4 text-2xl font-medium;
		font-weight: 600;
		line-height: 1.25;
	}

	p {
		@apply mb-3 text-lg;
	}

	a {
		@apply text-emerald-400 transition-colors hover:text-emerald-700;
	}

	ul {
		@apply list-disc pl-7;
	}

	ol {
		@apply list-decimal pl-7;
	}

	li {
		@apply mb-2;
	}

	pre code {
		@apply my-6 flex rounded border border-gray-700 bg-gray-200 px-1 py-0.5 dark:border-gray-200 dark:bg-zinc-800;
		font-family: 'JetBrains Mono', monospace;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;

		display: block;
		white-space: pre;
		overflow-x: auto;
		padding: 1em;
	}

	blockquote,
	q {
		@apply my-8 border-l-4 border-emerald-400 pr-3 pl-7 text-gray-700 italic dark:text-gray-200;
		font-style: italic;
	}
}
